In [1]:
import os
import csv
import json
import uuid
import pandas as pd
import pycountry
from datetime import datetime

## Tempo tweet

In [2]:
file_path = "../../extract/output/twitter_tweet_tempodotco.json"

In [3]:
pd.read_json(file_path)

                                                                     data
text                    #TempoThread\n\nDanantara adalah kapitalisme a...
id                                                    1892923628037021960
edit_history_tweet_ids                              [1892923628037021960]

### Word cleaning

In [4]:
with open(file_path, "r") as f:
  data = json.loads(f.read())

In [5]:
data

{'data': {'text': '#TempoThread\n\nDanantara adalah kapitalisme ala Prabowo, sebuah langkah ambisius untuk mewujudkan cita-cita ayahnya yang sudah dirancang sejak 1980-an.\n\nA Thread https://t.co/nUHckLhqrS',
  'id': '1892923628037021960',
  'edit_history_tweet_ids': ['1892923628037021960']}}

In [6]:
data["data"]

{'text': '#TempoThread\n\nDanantara adalah kapitalisme ala Prabowo, sebuah langkah ambisius untuk mewujudkan cita-cita ayahnya yang sudah dirancang sejak 1980-an.\n\nA Thread https://t.co/nUHckLhqrS',
 'id': '1892923628037021960',
 'edit_history_tweet_ids': ['1892923628037021960']}

In [7]:
text = data["data"]["text"]

text

'#TempoThread\n\nDanantara adalah kapitalisme ala Prabowo, sebuah langkah ambisius untuk mewujudkan cita-cita ayahnya yang sudah dirancang sejak 1980-an.\n\nA Thread https://t.co/nUHckLhqrS'

In [8]:
raw_words = text.split()

raw_words

['#TempoThread',
 'Danantara',
 'adalah',
 'kapitalisme',
 'ala',
 'Prabowo,',
 'sebuah',
 'langkah',
 'ambisius',
 'untuk',
 'mewujudkan',
 'cita-cita',
 'ayahnya',
 'yang',
 'sudah',
 'dirancang',
 'sejak',
 '1980-an.',
 'A',
 'Thread',
 'https://t.co/nUHckLhqrS']

In [9]:
raw_words[5]

'Prabowo,'

In [10]:
cleaned_words = [word.rstrip(',.') for word in raw_words]

cleaned_words

['#TempoThread',
 'Danantara',
 'adalah',
 'kapitalisme',
 'ala',
 'Prabowo',
 'sebuah',
 'langkah',
 'ambisius',
 'untuk',
 'mewujudkan',
 'cita-cita',
 'ayahnya',
 'yang',
 'sudah',
 'dirancang',
 'sejak',
 '1980-an',
 'A',
 'Thread',
 'https://t.co/nUHckLhqrS']

In [11]:
cleaned_words[5]

'Prabowo'

In [12]:
len(cleaned_words)

21

### Create datetime

In [13]:
created_time = os.path.getctime(file_path)

created_time

1740588991.929889

In [14]:
created_dt = datetime.fromtimestamp(created_time)

created_dt

datetime.datetime(2025, 2, 26, 23, 56, 31, 929889)

### Save clean data

In [15]:
new_data = {
  "tweet_id": data["data"]["id"],
  "word_count": len(cleaned_words),
  "words": cleaned_words,
  "created_at": str(created_dt),
}

In [16]:
with open("output/word_counts_tempodotco.csv", "w", newline="", encoding="utf-8") as f:
  field_names = ["tweet_id", "word_count", "words", "created_at"]
  writer = csv.DictWriter(f, fieldnames=field_names)

  if f.tell() == 0:
    writer.writeheader()

  writer.writerow(new_data)

In [17]:
df = pd.read_csv("output/word_counts_tempodotco.csv")

df

,tweet_id,word_count,words,created_at
0,1892923628037021960,21,"['#TempoThread', 'Danantara', 'adalah', 'kapit...",2025-02-26 23:56:31.929889

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    1 non-null      int64
 1   word_count  1 non-null      int64
 2   words       1 non-null      object
 3   created_at  1 non-null      object
dtypes: int64(2), object(2)
memory usage: 164.0+ bytes

In [19]:
with open("output/word_counts_tempodotco.json", "w", encoding="utf-8") as f:
  f.write(json.dumps(new_data, indent=2))

In [21]:
df2 = pd.read_json("output/word_counts_tempodotco.json")

df2.head()

              tweet_id  word_count         words                 created_at
0  1892923628037021952          21  #TempoThread 2025-02-26 23:56:31.929889
1  1892923628037021952          21     Danantara 2025-02-26 23:56:31.929889
2  1892923628037021952          21        adalah 2025-02-26 23:56:31.929889
3  1892923628037021952          21   kapitalisme 2025-02-26 23:56:31.929889
4  1892923628037021952          21           ala 2025-02-26 23:56:31.929889

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    21 non-null     int64
 1   word_count  21 non-null     int64
 2   words       21 non-null     object
 3   created_at  21 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 804.0+ bytes

## Ferry Irwandy tweet

Data cleaning with only python

In [125]:
file_path = "../../extract/output/twitter_tweet_irwndfrry.json"

In [126]:
pd.read_json(file_path)

,data,includes
referenced_tweets,"[{'type': 'quoted', 'id': '1890992087614808342'}]",NaN
entities,"{'urls': [{'start': 276, 'end': 299, 'url': 'h...",NaN
text,"Banyak yang minta jelasin soal Danatara ini, o...",NaN
id,1891503790353760292,NaN
edit_history_tweet_ids,[1891503790353760292],NaN
possibly_sensitive,False,NaN
created_at,2025-02-17T15:03:40.000Z,NaN
context_annotations,"[{'domain': {'id': '46', 'name': 'Business Tax...",NaN
author_id,251088685,NaN
public_metrics,"{'retweet_count': 36062, 'reply_count': 1299, ...",NaN
lang,in,NaN
tweets,NaN,[{'attachments': {'media_keys': ['3_1890991719...

In [127]:
with open(file_path, "r") as f:
  data = json.loads(f.read())

In [128]:
data["data"]

{'referenced_tweets': [{'type': 'quoted', 'id': '1890992087614808342'}],
 'entities': {'urls': [{'start': 276,
    'end': 299,
    'url': 'https://t.co/qqZBckrWoi',
    'expanded_url': 'https://twitter.com/tempodotco/status/1890992087614808342',
    'display_url': 'x.com/tempodotco/staâ€¦'}]},
 'text': 'Banyak yang minta jelasin soal Danatara ini, oke tak jelasin dgn simpel, simak dgn santai , ya\n\ndulu BUMN kalau dapat dividen, sebagian dividennya dikasih ke APBN terus duitnya dipake buat belanja\n\nNah sekarang Danantara, duitnya gak dipake lgsg untuk belanja, tapi investasi https://t.co/qqZBckrWoi',
 'id': '1891503790353760292',
 'edit_history_tweet_ids': ['1891503790353760292'],
 'possibly_sensitive': False,
 'created_at': '2025-02-17T15:03:40.000Z',
 'context_annotations': [{'domain': {'id': '46',
    'name': 'Business Taxonomy',
    'description': 'Categories within Brand Verticals that narrow down the scope of Brands'},
   'entity': {'id': '1557696848252391426',
    'name': 'Financial Services Business',
    'description': 'Brands, companies, advertisers and every non-person handle with the profit intent related to Banks, Credit cards, Insurance, Investments, Stocks '}},
  {'domain': {'id': '46',
    'name': 'Business Taxonomy',
    'description': 'Categories within Brand Verticals that narrow down the scope of Brands'},
   'entity': {'id': '1557697218248773632',
    'name': 'Retail Business',
    'description': 'Brands, companies, advertisers and every non-person handle with the profit intent focused on selling multiple brands such as supermarkets, stores, resellers, delivery apps'}},
  {'domain': {'id': '88',
    'name': 'Political Body',
    'description': 'A section of a government, like The Supreme Court'},
   'entity': {'id': '1536331416954253312',
    'name': 'Ministry of State Owned Enterprises'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1095391406816784384',
    'name': 'Shopping',
    'description': 'Shopping'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1536331416954253312',
    'name': 'Ministry of State Owned Enterprises'}}],
 'author_id': '251088685',
 'public_metrics': {'retweet_count': 36062,
  'reply_count': 1299,
  'like_count': 99718,
  'quote_count': 1619,
  'bookmark_count': 35057,
  'impression_count': 5761847},
 'lang': 'in'}

In [27]:
data["includes"]

{'tweets': [{'attachments': {'media_keys': ['3_1890991719925350400']},
   'entities': {'hashtags': [{'start': 190, 'end': 201, 'tag': 'Tempodotco'},
     {'start': 202, 'end': 212, 'tag': 'TempoPlus'}],
    'urls': [{'start': 213,
      'end': 236,
      'url': 'https://t.co/O9f1JbLDBa',
      'expanded_url': 'https://x.com/tempodotco/status/1890992087614808342/photo/1',
      'display_url': 'pic.x.com/O9f1JbLDBa',
      'media_key': '3_1890991719925350400'}]},
   'text': 'Bagi Prabowo, Danantara adalah proyek historis.\n\nAyahnya, Sumitro Djojohadikusumo, punya ide membangun sebuah lembaga pengelola 1-5 persen laba Badan Usaha Milik Negara pada akhir 1980-an.\n\n#Tempodotco #TempoPlus https://t.co/O9f1JbLDBa',
   'id': '1890992087614808342',
   'edit_history_tweet_ids': ['1890992087614808342'],
   'possibly_sensitive': False,
   'created_at': '2025-02-16T05:10:21.000Z',
   'context_annotations': [{'domain': {'id': '47',
      'name': 'Brand',
      'description': 'Brands and Companies'},
     'entity': {'id': '1194281356999573504',
      'name': 'Tempo',
      'description': 'an Indonesian weekly magazine that covers news and politics'}},
    {'domain': {'id': '88',
      'name': 'Political Body',
      'description': 'A section of a government, like The Supreme Court'},
     'entity': {'id': '1536331416954253312',
      'name': 'Ministry of State Owned Enterprises'}},
    {'domain': {'id': '131',
      'name': 'Unified Twitter Taxonomy',
      'description': 'A taxonomy of user interests. '},
     'entity': {'id': '1536331416954253312',
      'name': 'Ministry of State Owned Enterprises'}},
    {'domain': {'id': '69',
      'name': 'News Vertical',
      'description': 'News Categories like Entertainment or Technology'},
     'entity': {'id': '1328727386934820865',
      'name': 'Indonesia national news'}},
    {'domain': {'id': '131',
      'name': 'Unified Twitter Taxonomy',
      'description': 'A taxonomy of user interests. '},
     'entity': {'id': '1328727386934820865',
      'name': 'Indonesia national news'}}],
   'author_id': '18129942',
   'public_metrics': {'retweet_count': 4343,
    'reply_count': 203,
    'like_count': 9551,
    'quote_count': 790,
    'bookmark_count': 2165,
    'impression_count': 5823610},
   'lang': 'in'}]}

### Word cleaning

In [28]:
text = data["data"]["text"]
raw_words = text.split()

raw_words

['Banyak',
 'yang',
 'minta',
 'jelasin',
 'soal',
 'Danatara',
 'ini,',
 'oke',
 'tak',
 'jelasin',
 'dgn',
 'simpel,',
 'simak',
 'dgn',
 'santai',
 ',',
 'ya',
 'dulu',
 'BUMN',
 'kalau',
 'dapat',
 'dividen,',
 'sebagian',
 'dividennya',
 'dikasih',
 'ke',
 'APBN',
 'terus',
 'duitnya',
 'dipake',
 'buat',
 'belanja',
 'Nah',
 'sekarang',
 'Danantara,',
 'duitnya',
 'gak',
 'dipake',
 'lgsg',
 'untuk',
 'belanja,',
 'tapi',
 'investasi',
 'https://t.co/qqZBckrWoi']

In [29]:
uncleaned_words = [word.rstrip(',.') for word in raw_words]

uncleaned_words

['Banyak',
 'yang',
 'minta',
 'jelasin',
 'soal',
 'Danatara',
 'ini',
 'oke',
 'tak',
 'jelasin',
 'dgn',
 'simpel',
 'simak',
 'dgn',
 'santai',
 '',
 'ya',
 'dulu',
 'BUMN',
 'kalau',
 'dapat',
 'dividen',
 'sebagian',
 'dividennya',
 'dikasih',
 'ke',
 'APBN',
 'terus',
 'duitnya',
 'dipake',
 'buat',
 'belanja',
 'Nah',
 'sekarang',
 'Danantara',
 'duitnya',
 'gak',
 'dipake',
 'lgsg',
 'untuk',
 'belanja',
 'tapi',
 'investasi',
 'https://t.co/qqZBckrWoi']

In [30]:
uncleaned_words[15]

''

In [31]:
cleaned_words = list(filter(None, uncleaned_words))

cleaned_words

['Banyak',
 'yang',
 'minta',
 'jelasin',
 'soal',
 'Danatara',
 'ini',
 'oke',
 'tak',
 'jelasin',
 'dgn',
 'simpel',
 'simak',
 'dgn',
 'santai',
 'ya',
 'dulu',
 'BUMN',
 'kalau',
 'dapat',
 'dividen',
 'sebagian',
 'dividennya',
 'dikasih',
 'ke',
 'APBN',
 'terus',
 'duitnya',
 'dipake',
 'buat',
 'belanja',
 'Nah',
 'sekarang',
 'Danantara',
 'duitnya',
 'gak',
 'dipake',
 'lgsg',
 'untuk',
 'belanja',
 'tapi',
 'investasi',
 'https://t.co/qqZBckrWoi']

### Context Annotation cleaning

In [32]:
data["data"]["context_annotations"][0]

{'domain': {'id': '46',
  'name': 'Business Taxonomy',
  'description': 'Categories within Brand Verticals that narrow down the scope of Brands'},
 'entity': {'id': '1557696848252391426',
  'name': 'Financial Services Business',
  'description': 'Brands, companies, advertisers and every non-person handle with the profit intent related to Banks, Credit cards, Insurance, Investments, Stocks '}}

In [33]:
data["data"]["context_annotations"][0]["domain"]["id"]

'46'

In [34]:
data["data"]["context_annotations"][0]["domain"]["name"]

'Business Taxonomy'

In [35]:
data["data"]["context_annotations"][0]["domain"]["description"]

'Categories within Brand Verticals that narrow down the scope of Brands'

In [36]:
data["data"]["context_annotations"][0]["entity"]["id"]

'1557696848252391426'

In [37]:
data["data"]["context_annotations"][0]["entity"]["name"]

'Financial Services Business'

In [38]:
data["data"]["context_annotations"][0]["entity"]["description"]

'Brands, companies, advertisers and every non-person handle with the profit intent related to Banks, Credit cards, Insurance, Investments, Stocks '

In [89]:
context_annotations_database = []

for annotation in data["data"]["context_annotations"]:
  domain_id = annotation["domain"]["id"]
  entity_id = annotation["entity"]["id"]
  annotation_data = {
    "id": f"{domain_id}-{entity_id}",
    "domain_id": domain_id,
    "domain_name": annotation["domain"]["name"],
    "entity_id": entity_id,
    "entity_name": annotation["entity"]["name"],
  }

  try:
    annotation_data["domain_description"] = annotation["domain"]["description"]
  except:
    print(f"{annotation["domain"]["id"]} description is not available")

  try:
    annotation_data["entity_description"] = annotation["entity"]["description"]
  except:
    print(f"{annotation["entity"]["id"]} description is not available")

  # For main data
  context_annotations_database.append(annotation_data)

1536331416954253312 description is not available
1536331416954253312 description is not available

In [81]:
len(context_annotations_database)

5

In [90]:
context_annotations_database[0]

{'id': '46-1557696848252391426',
 'domain_id': '46',
 'domain_name': 'Business Taxonomy',
 'entity_id': '1557696848252391426',
 'entity_name': 'Financial Services Business',
 'domain_description': 'Categories within Brand Verticals that narrow down the scope of Brands',
 'entity_description': 'Brands, companies, advertisers and every non-person handle with the profit intent related to Banks, Credit cards, Insurance, Investments, Stocks '}

In [91]:
with open("output/context_annotations.csv", "w", newline="") as f:
  fieldnames = context_annotations_database[0].keys()
  writer = csv.DictWriter(f, fieldnames=fieldnames)

  if f.tell() == 0:
    writer.writeheader()

  writer.writerows(context_annotations_database)

In [92]:
context_annotations = [context["id"] for context in context_annotations_database]

context_annotations

['46-1557696848252391426',
 '46-1557697218248773632',
 '88-1536331416954253312',
 '131-1095391406816784384',
 '131-1536331416954253312']

### Language cleaning

In [44]:
data["data"]["lang"]

'in'

language iso-code reference: https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes

In [45]:
print(
  pycountry.languages.get(alpha_2="in")
)

None

In [46]:
print(
  pycountry.languages.get(alpha_2="id")
)

Language(alpha_2='id', alpha_3='ind', name='Indonesian', scope='I', type='L')

In [47]:
custom_mapping = {
  "in": "id"
}

def get_language_name(lang_code):
  lang_code = custom_mapping.get(lang_code, lang_code)
  
  try:
    return pycountry.languages.get(alpha_2=lang_code)
  except AttributeError:
    return None

In [48]:
get_language_name("id")

Language(alpha_2='id', alpha_3='ind', name='Indonesian', scope='I', type='L')

In [49]:
get_language_name("in")

Language(alpha_2='id', alpha_3='ind', name='Indonesian', scope='I', type='L')

In [50]:
language = get_language_name(data["data"]["lang"])
language_name = language.name
language_code = language.alpha_2

In [51]:
print(language_name, language_code)

Indonesian id

### Save clean data

In [ ]:
with open("output/word_counts_irwndfrry.json", "w") as f:
  new_data = {
    "tweet_id": data["data"]["id"],
    "author_id": data["data"]["author_id"],
    "sensitive": data["data"]["possibly_sensitive"],
    "word_count": len(cleaned_words),
    "words": cleaned_words,
    "language_name": language_name,
    "language_code": language_code,
    "created_at": data["data"]["created_at"],
    "retweet_count": data["data"]["public_metrics"]["retweet_count"],
    "reply_count": data["data"]["public_metrics"]["reply_count"],
    "like_count": data["data"]["public_metrics"]["like_count"],
    "quote_count": data["data"]["public_metrics"]["quote_count"],
    "bookmark_count": data["data"]["public_metrics"]["bookmark_count"],
    "impression_count": data["data"]["public_metrics"]["impression_count"],
  }

  for index, context in enumerate(context_annotations):
    new_data[f"annotation_{index}"] = context

  try:
    for index, ref_tweet in enumerate(data["data"]["referenced_tweets"]):
      new_data[f"reference_tweet_id_{index}"] = ref_tweet['id']
      new_data[f"reference_tweet_type_{index}"] = ref_tweet['type']
  except:
    print("no reference tweet")

  f.write(json.dumps(new_data, indent=2))

In [95]:
pd.read_json("output/word_counts_irwndfrry.json").head()

,tweet_id,author_id,sensitive,word_count,words,language_name,language_code,created_at,retweet_count,reply_count,...,quote_count,bookmark_count,impression_count,annotation_0,annotation_1,annotation_2,annotation_3,annotation_4,reference_tweet_id_0,reference_tweet_type_0
0,1891503790353760256,251088685,False,43,Banyak,Indonesian,id,2025-02-17 15:03:40+00:00,36062,1299,...,1619,35057,5761847,46-1557696848252391426,46-1557697218248773632,88-1536331416954253312,131-1095391406816784384,131-1536331416954253312,1890992087614808320,quoted
1,1891503790353760256,251088685,False,43,yang,Indonesian,id,2025-02-17 15:03:40+00:00,36062,1299,...,1619,35057,5761847,46-1557696848252391426,46-1557697218248773632,88-1536331416954253312,131-1095391406816784384,131-1536331416954253312,1890992087614808320,quoted
2,1891503790353760256,251088685,False,43,minta,Indonesian,id,2025-02-17 15:03:40+00:00,36062,1299,...,1619,35057,5761847,46-1557696848252391426,46-1557697218248773632,88-1536331416954253312,131-1095391406816784384,131-1536331416954253312,1890992087614808320,quoted
3,1891503790353760256,251088685,False,43,jelasin,Indonesian,id,2025-02-17 15:03:40+00:00,36062,1299,...,1619,35057,5761847,46-1557696848252391426,46-1557697218248773632,88-1536331416954253312,131-1095391406816784384,131-1536331416954253312,1890992087614808320,quoted
4,1891503790353760256,251088685,False,43,soal,Indonesian,id,2025-02-17 15:03:40+00:00,36062,1299,...,1619,35057,5761847,46-1557696848252391426,46-1557697218248773632,88-1536331416954253312,131-1095391406816784384,131-1536331416954253312,1890992087614808320,quoted

### Re-cleaning data for the referenced tweet

In [ ]:
data["includes"]["tweets"][0]

In [109]:
def clean_words(data):
  # Word cleaning
  text = data["text"]
  raw_words = text.split()
  uncleaned_words = [word.rstrip(',.') for word in raw_words]
  cleaned_words = list(filter(None, uncleaned_words))

  return cleaned_words

In [108]:
def clean_context_annotations(data):
  context_annotations_database = []

  for annotation in data["context_annotations"]:
    domain_id = annotation["domain"]["id"]
    entity_id = annotation["entity"]["id"]
    annotation_data = {
      "id": f"{domain_id}-{entity_id}",
      "domain_id": domain_id,
      "domain_name": annotation["domain"]["name"],
      "entity_id": entity_id,
      "entity_name": annotation["entity"]["name"],
    }

    try:
      annotation_data["domain_description"] = annotation["domain"]["description"]
    except:
      print(f"{annotation["domain"]["id"]} description is not available")

    try:
      annotation_data["entity_description"] = annotation["entity"]["description"]
    except:
      print(f"{annotation["entity"]["id"]} description is not available")

    # For main data
    context_annotations_database.append(annotation_data)

  # Save with append into csv
  with open("output/context_annotations.csv", "a", newline="") as f:
    fieldnames = context_annotations_database[0].keys()
    writer = csv.DictWriter(f, fieldnames=fieldnames)

    if f.tell() == 0:
      writer.writeheader()

    writer.writerows(context_annotations_database)

  return [context["id"] for context in context_annotations_database]

In [107]:
def clean_language(data):
  custom_mapping = {
    "in": "id"
  }

  def get_language_name(lang_code):
    lang_code = custom_mapping.get(lang_code, lang_code)
    
    try:
      return pycountry.languages.get(alpha_2=lang_code)
    except AttributeError:
      return None
  
  language = get_language_name(data["lang"])

  return (language.name, language.alpha_2)

In [ ]:
def transform_tweet(data):
  cleaned_words = clean_words(data)
  language_name, language_code = clean_language(data)
  context_annotations = clean_context_annotations(data)

  with open(f"output/word_counts_{data["id"]}.json", "w") as f:
    new_data = {
      "tweet_id": data["id"],
      "author_id": data["author_id"],
      "sensitive": data["possibly_sensitive"],
      "word_count": len(cleaned_words),
      "words": cleaned_words,
      "language_name": language_name,
      "language_code": language_code,
      "created_at": data["created_at"],
      "retweet_count": data["public_metrics"]["retweet_count"],
      "reply_count": data["public_metrics"]["reply_count"],
      "like_count": data["public_metrics"]["like_count"],
      "quote_count": data["public_metrics"]["quote_count"],
      "bookmark_count": data["public_metrics"]["bookmark_count"],
      "impression_count": data["public_metrics"]["impression_count"],
    }

    for index, context in enumerate(context_annotations):
      new_data[f"annotation_{index}"] = context

    try:
      for index, ref_tweet in enumerate(data["referenced_tweets"]):
        new_data[f"reference_tweet_id_{index}"] = ref_tweet['id']
        new_data[f"reference_tweet_type_{index}"] = ref_tweet['type']
    except:
      print("No referenced_tweet")

    f.write(json.dumps(new_data, indent=2))

In [ ]:
for item in data["includes"]["tweets"]:
  transform_tweet(item)

1536331416954253312 description is not available
1536331416954253312 description is not available
1328727386934820865 description is not available
1328727386934820865 description is not available
No referenced_tweet

## Ferry Irwandi User

Flatten data with pandas json normalize

In [131]:
file_path = "../../extract/output/twitter_user_irwndfrry.json"

In [132]:
pd.read_json(file_path)

                                                                data
verified                                                       False
profile_image_url  https://pbs.twimg.com/profile_images/188894133...
protected                                                      False
username                                                   irwndfrry
pinned_tweet_id                                  1874839670984753388
name                                                   Ferry Irwandi
id                                                         251088685
created_at                                  2011-02-12T12:18:46.000Z
public_metrics     {'followers_count': 208273, 'following_count':...
description

In [138]:
with open(file_path, "r") as f:
  data = json.loads(f.read())

In [139]:
data

{'data': {'verified': False,
  'profile_image_url': 'https://pbs.twimg.com/profile_images/1888941332389068800/zDL30fow_normal.jpg',
  'protected': False,
  'username': 'irwndfrry',
  'pinned_tweet_id': '1874839670984753388',
  'name': 'Ferry Irwandi',
  'id': '251088685',
  'created_at': '2011-02-12T12:18:46.000Z',
  'public_metrics': {'followers_count': 208273,
   'following_count': 1053,
   'tweet_count': 33933,
   'listed_count': 78,
   'like_count': 2027,
   'media_count': 1463},
  'description': ''}}

In [140]:
df = pd.json_normalize(data["data"], sep='_')

df

,verified,profile_image_url,protected,username,pinned_tweet_id,name,id,created_at,description,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,public_metrics_listed_count,public_metrics_like_count,public_metrics_media_count
0,False,https://pbs.twimg.com/profile_images/188894133...,False,irwndfrry,1874839670984753388,Ferry Irwandi,251088685,2011-02-12T12:18:46.000Z,,208273,1053,33933,78,2027,1463

In [143]:
df.to_csv("output/users.csv", index=False)

## Tweets with geotag